.loader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #000;
  z-index: 100;
  overflow: hidden;

  .building-icon {
    width: 100%;
    max-width: calc(100vw - 25%);

    path {
      opacity: 0;
    }
  }
}
