.intro {
  width: 100%;
  height: calc(100vh - 99px);
  text-align: center;
  position: relative;

  &__cta {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
  }

  &__text {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;
  }

  &__btn {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    max-width: 175px;
    transition: all 0.3s ease-in-out;
    margin: 2rem auto 0;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
